<div id="error_bookings" class="alert alert-danger" role="alert"></div>
        {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
<div class="container-fluid text-white bg-dark d-flex grow-1 pt-5 pb-5 justify-content-center">
    <div id="car" class="rounded w-75 text-white">
        <h1 id="brandName">{{{car.brandName}}}</h1>
        <span class="placeholder placeholder-xs col-12 bg-primary"></span>
        <div class="d-flex justify-content-evenly">
            <div class="card-text m-2">
                <h2>Details</h2>
                <span class="placeholder placeholder-xs col-12 bg-success"></span> <p>Color: {{{car.color}}}</p>
                <p>Capacity: {{{car.capacity}}}</p>
                <p>Status: {{{car.status}}}</p>
                <p>Rate per Day: ${{{car.rate}}}</p>
            </div>
            <div class="card-text m-2">
                <h3 class="card-text">Contact</h3>
                <span class="placeholder placeholder-xs col-12 bg-success"></span> <p>Owner: {{{car.firstName}}}
                {{{car.lastName}}}</p>
                <p>Phone: {{{car.phoneNumber}}}</p>
                <p>email: {{{car.email}}}</p>
            </div>
        </div>
        <div class="card-text m-2">
            <h3>Address</h3>
            <span class="placeholder placeholder-xs col-12 bg-success"></span>
            <p>Number: {{{car.address.number}}}</p>
            <p>Street: {{{car.address.street}}}</p>
            <p>City: {{{car.address.city}}}</p>
            <p>State: {{{car.address.state}}}</p>
            <p>Zip: {{{car.address.zip}}}</p>
        </div>
        <form class="booking-form" action="/myBookings/{{{car.carId}}}" id="book-form" method="POST">
            <label>From Date :
                <input id="fromDate_book" name="fromDate" type="date"
                    data-sb-validations="required,date" required /></label>
            <label>To Date :
                <input id="toDate_book" name="toDate" type="date"
                    data-sb-validations="required,date" required /></label>
            <button type="submit" class="btn btn-success">Confirm Booking</button>
        </form>
    </div>
</div>