    <div id="error_upload_profile" class="alert alert-danger" role="alert"></div>
  {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
  {{/if}}

  {{#if isMessage}}
    <ul class="message-list">
        {{#each messages}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

<link rel="stylesheet" href="/public/css/login.css">

    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h1>Profile Update page</h1>
          </div>
        </div>
            <form class="login-form" action="/updateProfile" id="updateProfile-form" name="updateProfile-form" method="POST">
            <label for="age">Enter Age: </label>
            <input type="text" id="age" name="age" placeholder="Type age" value="{{response.age}}"><br>
            <label for="phoneNumber">Enter Phone Number: </label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Type phone number" value="{{response.phoneNumber}}"><br>
            <label for="houseNumber" >Enter House Number: </label>
            <input type="text" id="houseNumber" name="houseNumber" placeholder="Type house number" value="{{response.address.number}}"><br>
            <label for="street">Enter Street: </label>
            <input type="text" id="street" name="street" placeholder="Type street" value="{{response.address.street}}"><br>
            <label  for="city">Enter City: </label>
            <input type="text" id="city" name="city" placeholder="Type city" value="{{response.address.city}}"><br>
            <label for="state">Enter State: </label>
            <input type="text" id="state" name="state" placeholder="Type state" value="{{response.address.state}}"><br>
            <label for="zip">Enter Zip: </label>
            <input type="text" id="zip" name="zip" placeholder="Type zip" value="{{response.address.zip}}"><br>
            <input type="submit" value="Update" class="btn-p">
        </form>
      </div>
    </div>

