<div class="err">
    {{error}}
</div>

<link rel="stylesheet" href="/public/css/login.css">

<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h1>User Profile</h1>
            </div>
        </div>
        <label for="userName">Username : </label>
        <input type="text" value="{{profile.email}}" id="userName"/>
        <label for="firstName">FirstName : </label>
        <input type="text" value="{{profile.firstName}}" id="firstName"/>
        <label for="lastName"> Last Name :</label>
        <input type="text" value="{{profile.lastName}}" id="lastName"/>
        <label for="age">Age : </label>
        <input type="text" value="{{profile.age}}" id="age"/>
        <label for="phoneNumber">Phone Number :</label>
        <input type="text" value="{{profile.phoneNumber}}" id="phoneNumber"/>
        <label for="houseNumber">House Number : </label>
        <input type="text" value="{{profile.address.number}}" id="houseNumber"/>
        <label for="street">Street : </label>
        <input type="text" value="{{profile.address.street}}" id="street"/>
        <label for="city">City : </label>
        <input type="text" value="{{profile.address.city}}" id="city"/>
        <label for="state">State : </label>
        <input type="text" value="{{profile.address.state}}" id="state"/>
        <label for="zip">Zip : </label>
        <input type="text" value="{{profile.address.zip}}" id="zip"/>
    </div>
</div>