<div class="d-flex flex-row bd-highlight justify-content-center mb-2">
    <div class="p-2 bd-highlight">
        <form method="POST" id="searchPageForm" action="/searchCar">
            <label>Enter City :
                <input class="input" id="where_searchPage" name="sourceAddress" type="text" placeholder="Enter a City"
                    data-sb-validations="required,text" />
            </label>
            <button class="btn btn-primary btn-md" id="submitButton" type="submit">Submit</button>
        </form>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-success btn-md rounded-pill" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            filters
        </button>
    </div>
    <div class="p-2 bd-highlight">
        <form action="/map" method="GET">
            <button type="submit" class="btn btn-danger btn-md rounded-pill">
                Map
            </button>
        </form>
    </div>
</div>
<div id="errorDivSearchPage" class="alert alert-danger" role="alert"></div>
{{#if hasErrors}}
<ul class="error-list">
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}
<div class="search-main">
    <div class="content">
        <div id="res" class="d-flex flex-wrap justify-content-evenly">

            {{#each carData}}
            {{#each cars}}
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <h3 class="text-start">{{{brandName}}}</h3>
                    <span class="placeholder placeholder-xs col-12 bg-primary"></span>
                    <div class="d-flex justify-content-evenly">
                        <div class="card-text m-2">
                            <h3>Details</h3>
                            <span class="placeholder placeholder-xs col-12 bg-success"></span> 
                            <p>Color: {{{color}}}</p>
                            <p>Capacity: {{{capacity}}}</p>
                            <p>Status: {{{status}}}</p>
                            <p>Rate per Day: ${{{rate}}}</p>
                        </div>
                        <div class="card-text m-2">
                            <h3 class="card-text">Contact</h3>
                            <span class="placeholder placeholder-xs col-12 bg-success"></span> <p>Owner:
                            {{{../firstName}}} {{{../lastName}}}</p>
                            <p>Phone: {{{../phoneNumber}}}</p>
                            <p>email: {{{../email}}}</p>
                        </div>
                    </div>
                    {{#if ../../admin}} 
                    <div class="d-flex">
                        <a href="/booking_a_car/{{_id}}" class="btn btn-primary float-end full-width atag">Book Me</a>
                    </div>
                    {{/if}}
                    <span class="placeholder placeholder-xs col-12 bg-danger"></span>
                </div>
            </div>
            {{/each}}
            {{/each}}

        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Filter By</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <form method="POST" id="filter-form" action="/searchCar/filters">
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>City:
                                <input class="input" id="filter_city" placeholder="{{{sourceAddress}}}"
                                    value="{{{sourceAddress}}}" name="sourceAddress" type="text"
                                    data-sb-validations="required,text" />
                            </label>
                        </div>
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>Brand:
                                <input class="input" id="filter-brand" name="brandName" type="text"
                                    placeholder="Enter a brand" data-sb-validations="required,text" />
                            </label>
                        </div>
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>Capacity:
                                <input class="input" id="filter-cap" name="capacity" type="text"
                                    placeholder="Number of Passengers" data-sb-validations="required,text" />
                            </label>
                        </div>
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>Low Rate:
                                <input class="input" id="filter-rate-low" name="low_rate" type="number"
                                    placeholder="Low" data-sb-validations="required,text" />
                            </label>
                            <label>High Rate:
                                <input class="input" id="filter-rate-high" name="high_rate" type="number"
                                    placeholder="High" data-sb-validations="required,text" />
                            </label>
                        </div>
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>Zip:
                                <input class="input" id="filter-Zip" name="zip" type="text" placeholder="Enter a Zip"
                                    data-sb-validations="required,text" />
                            </label>
                        </div>
                        <div class="d-flex justify-content-evenly mb-2">
                            <label>From Date:
                                <input id="filter-fromDate" name="fromDate" type="date" 
                                    data-sb-validations="required,date" />
                            </label>
                            <label>To Date:
                                <input id="filter-toDate" name="toDate" type="date"
                                    data-sb-validations="required,date" />
                            </label>
                        </div>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <input class="btn btn-warning" type="reset"> 
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>
                <div id="error-filer" class="alert alert-danger" role="alert"></div>
            </div>
        </div>
    </div>
</div>